header {
  top: 0;
  position: fixed;
  /* height: 70px; */
  width: 100%;
  border-bottom: 1px solid #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  border-width: 0;

  /* background-color: #88ab8e; */
  font-family: cursive;

  z-index: 1000;
}
header h1 {
    padding-left: 20px;
}

header nav.navbar{
	background-color: #88ab8e !important;
}
.nav-link:hover {
  background-color: #135D66;
  border-radius: 5px;
}